<div class="page-header">
	<h4>
		<h4><%= t("general.about_us") %></h4>
	</h4>
</div>
<h3><b>Online Fundraising</b></h3>
<br>
<h5>
<p>Make A Wish is a personal online fundraising website which is  perfect for individuals!</p>
<p>From this website we can contribute our money to our friend and family person for their life event and we can only contribute to that person how register to this website.</p>

<p>User can also register through Facebook,twitter and Linkedin.</p>
<h5>
<br><br>
<h4>Devloped By :</h4>
<li><p><b>Anshul Sabuwala</b></p></li>
<p><u>Email</u> : anshul.vitrainee@gmail.com</p>		
<li><p><b>Mittal Patel</b></p></li>
<p><u>Email</u> : mittal.vitrainee@gmail.com</p>
</div>
</div>
