<h4 style="color:#336699;text-align:center">EDIT PRODUCTS </h4>
<hr>

<%= render 'form' %>

<%= link_to 'Show', @product %> |
<!--<%= link_to 'Back', products_path %>!-->

<%= link_to 'Back', categories_path %>
