<h4 style="color:#336699;text-align:center"> ADD NEW PRODUCTS </h4>
<hr>

<div id="create_product">
<%= render 'form' %>
</div>

<!--<%= link_to 'Back', products_path %>!-->

<%= link_to 'Back', categories_path %>


